body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
}
p{
    font-size:12px;
    text-decoration: none;
    color:black;
}
h1{
    font-size:1.5em;
    color:#525252;
}
.box{
    background:white;
    border-radius:6px;
    display:inline-block;
    width:600px;
    margin: auto;
    border:1px solid black;
}
.box img{
    width:100%;
}
.text-logo{
    color:#525252;
    text-align:center;
    font-size:2em;
    font-family: 'Open Sans', sans-serif;
    margin-top:20px;
}
input[type=email],input[type=password]{
    width: 90%;
    margin-bottom: 10px;
    border:1px solid #ccc;
    padding: 8px;
    border-radius:4px;
}
input[type=submit]{
    border-radius:4px;
    padding: 8px;
    background:black;
    color:white;
    border:0px;
    width: 80%;
    margin-bottom: 5%;
}
input[type=submit]:hover{
    background:grey;
    cursor:pointer;
}
a{
    text-decoration: none;
    color:white;
    font-size:14px;
}
i{
    color:black;
}
a:hover{
    color:black;
}
span{
    color:black;
}