.color1 {
    background-color: '#E3F2FD';
}

.color2 {
    background-color: '#BBDEFB';
}

.color3 {
    background-color: '#90CAF9D';
}

.color4 {
    background-color: '#64B5F6';
}

.color5 {
    background-color: '#42A5F5';
}

.color6 {
    background-color: '#2196F3';
}

.color7 {
    background-color: '#1E88E5';
}

.color8 {
    background-color: '#1976D2';
}

.color9 {
    background-color: '#1565C0';
}

.color10 {
    background-color: '#E3F2FD';
}